In [9]:
# Import dependencies
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import sessionmaker


app = Flask(__name__)


engine = create_engine('sqlite:///cities.db')
Base = declarative_base()
Base.metadata.create_all(engine)

file_name = "../DataSets/fifty_world_cities.csv"
df = pd.read_csv(file_name)
df.to_sql(name="cities", con=engine, if_exists='replace')




Base = declarative_base()

class Cities(Base):
    __tablename__ = 'cities' 
    city = Column(String(50), primary_key=True)
    city_ascii = Column(String(50))
    lat = Column(Float)    
    lng = Column(Float)
    pop = Column(Integer)  
    country = Column(String(50))
    iso2 = Column(String(50))
    iso3 = Column(String(50))
    province = Column(String(50))

    def __repr__(self):
        return "<City(city='%s', lat='%s', lng='%s', pop='%s')>" % (
                             self.city, self.lat, self.lng, self.pop)

Base.metadata.create_all(engine)

Session = sessionmaker(bind=engine)

Session = sessionmaker()
Session.configure(bind=engine) 
session = Session()
session.query(Cities).all()

[<City(city='Tokyo', lat='35.68501691', lng='139.7514074', pop='22006299.5')>,
 <City(city='Mumbai', lat='19.01699038', lng='72.8569893', pop='15834918.0')>,
 <City(city='Mexico City', lat='19.44244244', lng='-99.1309882', pop='14919501.0')>,
 <City(city='Shanghai', lat='31.21645245', lng='121.4365047', pop='14797756.0')>,
 <City(city='Sao Paulo', lat='-23.55867959', lng='-46.62501998', pop='14433147.5')>,
 <City(city='New York', lat='40.74997906', lng='-73.98001693', pop='13524139.0')>,
 <City(city='Karachi', lat='24.86999229', lng='66.99000891', pop='11877109.5')>,
 <City(city='Buenos Aires', lat='-34.60250161', lng='-58.39753137', pop='11862073.0')>,
 <City(city='Delhi', lat='28.6699929', lng='77.23000403', pop='11779606.5')>,
 <City(city='Moscow', lat='55.75216412', lng='37.61552283', pop='10452000.0')>,
 <City(city='Istanbul', lat='41.10499615', lng='29.01000159', pop='10003305.0')>,
 <City(city='Dhaka', lat='23.72305971', lng='90.40857947', pop='9899167.0')>,
 <City(city='Cairo', lat='30.04996035', lng='31.24996822', pop='9813807.0')>,
 <City(city='Seoul', lat='37.566349100000004', lng='126.99973100000001', pop='9796000.0')>,
 <City(city='Kolkata', lat='22.4949693', lng='88.32467566', pop='9709196.0')>,
 <City(city='Beijing', lat='39.92889223', lng='116.38828570000001', pop='9293300.5')>,
 <City(city='Jakarta', lat='-6.174417705', lng='106.82943759999999', pop='8832560.5')>,
 <City(city='Los Angeles', lat='33.98997825', lng='-118.1799805', pop='8097410.0')>,
 <City(city='London', lat='51.49999473', lng='-0.116721844', pop='7994104.5')>,
 <City(city='Tehran', lat='35.67194277', lng='51.42434403', pop='7513154.5')>,
 <City(city='Lima', lat='-12.04801268', lng='-77.05006209', pop='7385117.0')>,
 <City(city='Manila', lat='14.60415895', lng='120.98221720000001', pop='7088787.5')>,
 <City(city='Bogota', lat='4.596423563', lng='-74.08334396', pop='7052830.5')>,
 <City(city='Osaka', lat='34.75003522', lng='135.46014480000002', pop='6943206.5')>,
 <City(city='Rio de Janeiro', lat='-22.92502317', lng='-43.22502079', pop='6879087.5')>,
 <City(city='Kinshasa', lat='-4.329724102', lng='15.31497188', pop='6704351.5')>,
 <City(city='Lahore', lat='31.55997154', lng='74.35002478', pop='6443944.0')>,
 <City(city='Guangzhou', lat='23.144981299999998', lng='113.3250101', pop='5990912.5')>,
 <City(city='Bangalore', lat='12.96999514', lng='77.56000972', pop='5945523.5')>,
 <City(city='Chicago', lat='41.82999066', lng='-87.75005497', pop='5915976.0')>,
 <City(city='Bangkok', lat='13.74999921', lng='100.5166447', pop='5904238.0')>,
 <City(city='Hong Kong', lat='22.304980899999997', lng='114.18500929999999', pop='5878789.5')>,
 <City(city='Chennai', lat='13.08998781', lng='80.27999874', pop='5745531.5')>,
 <City(city='Wuhan', lat='30.58003135', lng='114.270017', pop='5713603.0')>,
 <City(city='Tianjin', lat='39.13002626', lng='117.20001909999999', pop='5473103.5')>,
 <City(city='Chongqing', lat='29.56497703', lng='106.59498159999998', pop='5214014.0')>,
 <City(city='Baghdad', lat='33.3386485', lng='44.39386877', pop='5054000.0')>,
 <City(city='Hyderabad', lat='17.39998313', lng='78.47995357', pop='4986908.0')>,
 <City(city='Paris', lat='48.86669293', lng='2.333335326', pop='4957588.5')>,
 <City(city='Taipei', lat='25.03583333', lng='121.56833329999999', pop='4759522.5')>,
 <City(city='Lagos', lat='6.4432616529999995', lng='3.391531071', pop='4733768.0')>,
 <City(city='Toronto', lat='43.69997988', lng='-79.42002079', pop='4573710.5')>,
 <City(city='Ahmedabad', lat='23.03005292', lng='72.58000362', pop='4547355.0')>,
 <City(city='Dongguan', lat='23.048888899999998', lng='113.74472220000001', pop='4528000.0')>,
 <City(city='Ho Chi Minh City', lat='10.78002545', lng='106.69502720000001', pop='4390665.5')>,
 <City(city='Riyadh', lat='24.64083315', lng='46.77274166', pop='4335480.5')>,
 <City(city='Shenzhen', lat='22.55237051', lng='114.1221231', pop='4291796.0')>,
 <City(city='Singapore', lat='1.293033466', lng='103.85582070000001', pop='4236614.5')>,
 <City(city='Chittagong', lat='22.32999229', lng='91.79996741', pop='4224611.0')>]

In [ ]:
if __name__ == "__main__":
    app.run(debug=True, port=5000)